{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content%}
{{block.super}}
<div class="container mt-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{message}}
      </div>
    {% endfor %}
    {% endif %}
    <h1 class="text-center orange">Found {{quizs.count}} Question{{quizs.count|pluralize}}</h1>
    {% for quiz in quizs %}
    <div class="quiz-cont p-2 card mt-3" >
        <div class="row">
            <div class="col-md-3">
                <h4 class="card-title">{{quiz.title|title}}</h4>
            </div>
            <div class="col-md-3">
                <p class="card-text">{{quiz.question}}</p>
            </div>
            <div class="col-md-2 pt-3 pl-5">
                {% if request.user.profile.question == quiz %}
                <a href="{% url 'my_quiz' quiz.id %}" class="btn btn-outline-warning font-weight-bold btn-sm mb-2">VIEW QUESTION</a> 
                {% elif not request.user.profile.question %}
                <a href="{% url 'my_quiz' quiz.id %}" class="btn join black font-weight-bold btn-sm">JOIN PANEL</a> 
                {% endif %}
                {%if quiz.admin == current_user%}
                        <p class="ml-4 mt-5">
                            <a href="{% url 'update_quiz' quiz.id %}"><i class="fas fa-edit"></i></a>
                        </p>
                {%endif%}
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{%endblock%}